DstributedCache/Console.RemoteTest/Service References/DistributedCacheService/NetCacheService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NetCacheService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://172.16.15.205:9876/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://172.16.15.205:9876/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INetCacheService_AppendCache_InputMessage">
    <wsdl:part name="parameters" element="tns:AppendCache" />
  </wsdl:message>
  <wsdl:message name="INetCacheService_AppendCache_OutputMessage">
    <wsdl:part name="parameters" element="tns:AppendCacheResponse" />
  </wsdl:message>
  <wsdl:message name="INetCacheService_RemoveCache_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCache" />
  </wsdl:message>
  <wsdl:message name="INetCacheService_RemoveCache_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCacheResponse" />
  </wsdl:message>
  <wsdl:message name="INetCacheService_ClearCache_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearCache" />
  </wsdl:message>
  <wsdl:message name="INetCacheService_ClearCache_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearCacheResponse" />
  </wsdl:message>
  <wsdl:message name="INetCacheService_GetCache_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCache" />
  </wsdl:message>
  <wsdl:message name="INetCacheService_GetCache_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCacheResponse" />
  </wsdl:message>
  <wsdl:portType name="INetCacheService">
    <wsdl:operation name="AppendCache">
      <wsdl:input wsaw:Action="http://tempuri.org/INetCacheService/AppendCache" message="tns:INetCacheService_AppendCache_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INetCacheService/AppendCacheResponse" message="tns:INetCacheService_AppendCache_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveCache">
      <wsdl:input wsaw:Action="http://tempuri.org/INetCacheService/RemoveCache" message="tns:INetCacheService_RemoveCache_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INetCacheService/RemoveCacheResponse" message="tns:INetCacheService_RemoveCache_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearCache">
      <wsdl:input wsaw:Action="http://tempuri.org/INetCacheService/ClearCache" message="tns:INetCacheService_ClearCache_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INetCacheService/ClearCacheResponse" message="tns:INetCacheService_ClearCache_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCache">
      <wsdl:input wsaw:Action="http://tempuri.org/INetCacheService/GetCache" message="tns:INetCacheService_GetCache_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INetCacheService/GetCacheResponse" message="tns:INetCacheService_GetCache_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INetCacheService" type="tns:INetCacheService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AppendCache">
      <soap:operation soapAction="http://tempuri.org/INetCacheService/AppendCache" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCache">
      <soap:operation soapAction="http://tempuri.org/INetCacheService/RemoveCache" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearCache">
      <soap:operation soapAction="http://tempuri.org/INetCacheService/ClearCache" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCache">
      <soap:operation soapAction="http://tempuri.org/INetCacheService/GetCache" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NetCacheService">
    <wsdl:port name="BasicHttpBinding_INetCacheService" binding="tns:BasicHttpBinding_INetCacheService">
      <soap:address location="http://172.16.15.205:9876/NetCacheService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>